* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 16px;
    background: rgb(1, 82, 152);
    background: linear-gradient(135deg,
            rgba(1, 82, 152, 1) 0%,
            rgba(122, 184, 239, 1) 100%);
}

.countner {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
}
header h1{
    font-size: 30px;
}


form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

form input {
    width: 80%;
}

form input,
form button {
    padding: 8px 14px;
    outline: none;
    border-radius: 4px;
}

form input {
    border: 1px #8c8c8c solid;
}

form button {
    border: 1px #8c8c8c solid;
    border: none;
    background-color: #3333ff;
    color: #fff;
}

.todo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.todo .todo-con {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-size: 18px;
}

.todo button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

}